<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/froalacss">
    <script src="/froalajs"></script>
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
    <textarea id="example" name="editdata"></textarea><br>
    <button type="submit">Save</button>
</form>
<br><br>
<hr>
<br>
<%if(edata.length>0){%>
<table>
    <%for(var x=0;x< edata.length;x++){%>
    <tr>
        <td><%- edata[x].data%></td>
    </tr>
    <%}%>
</table>
<%}%>

    <script>
    var editor = new FroalaEditor("#example",{
        // Set the image upload URL.
    imageUploadURL: '/upload_image'
    })
    </script>
</body>
</html>